/*color scheme
dark bluish grey -- rgb(45,60,77)
OLDorange -- rgb(223,133,0)
orange -- rgb(204,120,0)
blue -- rgb(44,78,134)
light blue -- rgb(96,186,227)
*/


/* BEGIN ALL html pages */

html {
  position: relative;
  height: 100%;
}

body {
	height: 100%;
	padding-top: 40px;
	color: black; /*text color*/
	background-color: rgb(96,186,227); /*light blue*/
	background-color: rgb(45,60,77); /*dark bluish grey*/
	margin-bottom: 60px; /* Margin bottom by footer height */
}

.container:not(#navi) {
	background-color: white;
}

#header_logo {
	padding-top: 10px;
	width: 200px;
	height: 100px;
}

.navbar-brand {
	color: white;
	font-size: 30px;
	padding-top: 30px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: rgb(204,120,0);
}

.navbar {
	background-color: rgb(44,78,134); /*blue*/
	background-color: rgb(96,186,227); /*light blue*/
	background-color: rgb(45,60,77); /*dark bluish grey*/
	/*padding-top: 5px;*/
}

#navi {
	background-color: rgb(44,78,134); /*blue*/
	padding-top: 10px;
}

.navbar-nav {
	padding-top: 10px;
}

.navbar-nav > li > a {
  text-transform: uppercase;
  color: white;
  border-bottom: 4px solid transparent;
  padding-top: 10px;
  padding-bottom: 10px;
 
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: white;
  color: rgb(204,120,0); /*orange*/
  border-bottom-color: rgb(204,120,0); /*orange*/
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  background-color: rgb(204,120,0); /*orange*/
  color: white;
  border-bottom-color: white;
}

.content {
	padding: 5%;
	padding-top: 300px;
}

@media (min-width: 558px) {
  .content {
	padding: 5%;
	padding-top: 250px;
	}
}

@media (min-width: 768px) {
  .content {
	padding: 5%;
	padding-top: 100px;
	}
}

.footer {
	padding-top: 30px;
  	background-color: white;
}

.copyright {
	text-align: right;
}


/* END ALL html pages*/

/* BEGIN index.html */
#home {
	padding-top: 30px;
}

#home_description {
	padding-bottom: 50px;
}

.home_desc {
	color: rgb(204,120,0);
	font-weight: bold;
}

/* END index.html */

/* BEGIN contacts.html */

/*#feedbackForm {
	padding: 15px;
	border-style: solid;
	border-color: black;
}*/

/*#contactDetails {
	padding-top: 75px;
	padding-bottom: 75px;
}*/

#contactDetails .control-label {
	text-align: left;
}

/*#notifier {
	padding-top: 20px;
}

.required:after {
	color:red;
    content: "*";
    padding-left:1%;
}
*/
.form-control{
    width:97%;
    float:left;
}

/* END contacts.html */

/* BEGIN products.html */

#catalogue_list {
	padding-top: 10px;
}

.catalogue_item {
    display: inline-block;
    padding: 0;
}

.catalogue_item img {
	background-color: black
    display: block;
    opacity: 1;

    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.catalogue_item:hover img {
    opacity: 0.5;
}

.catalogue_item {
	/*color: orange;*/
	font-size: 20px;
}

.row .catalogue {
	padding-top: 5px;
	padding-bottom: 5px;
}

#products {
	padding-top: 30px;
}

.row .product {
	padding-top: 15px;
	padding-bottom: 15px;

}

/* END products.html */

/* BEGIN aboutus.html */

.aboutus_titles {
	color: black;
}

/* END aboutus.html */

