/*color scheme
dark bluish grey -- rgb(45,60,77)
orange -- rgb(223,133,0)
blue -- rgb(44,78,134)
light blue -- rgb(96,186,227)
*/

html {
  position: relative;
  height: 100%;
}

body {
	height: 100%;
	padding-top: 40px;
	color: black; /*text color*/
	background-color: rgb(96,186,227); /*light blue*/
	background-color: rgb(45,60,77); /*dark bluish grey*/
	margin-bottom: 60px; /* Margin bottom by footer height */
}

#notifier {
	padding-top: 20px;
}

.required:after {
	color:red;
    content: "*";
    padding-left:1%;
}

.form-control{
    width:97%;
    float:left;
}

.container:not(#navi) {
	background-color: white;
}

.navbar-brand img {
	width: 100px;
	height: auto;
}

.navbar-brand {
	color: white;
	font-size: 26px;
}

.navbar {
	background-color: rgb(44,78,134); /*blue*/
	background-color: rgb(96,186,227); /*light blue*/
	background-color: rgb(45,60,77); /*dark bluish grey*/
}

#navi {
	background-color: rgb(44,78,134); /*blue*/
}

.navbar-nav > li > a {
  /*font-size: 16px;*/
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-bottom: 4px solid transparent;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: white;
  color: rgb(223,133,0); /*orange*/
  border-bottom-color: rgb(223,133,0); /*orange*/
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  background-color: rgb(223,133,0); /*orange*/
  color: white;
  border-bottom-color: white;
}

.content {
	padding-top: 30px;
}

#home {
	padding-top: 80px;
}

#feedbackForm {
	/*padding: 15px;*/
	/*border-style: solid;*/
	/*border-color: black;*/
}

#contactDetails {
	padding-top: 75px;
	padding-bottom: 75px;
}

#contactDetails .control-label {
	text-align: left;
}

.footer {
	padding-top: 30px;
  	background-color: white;
}

.copyright {
	text-align: right;
}

.aboutus_titles {
	color: rgb(223,133,0); /*orange*/
	color: black;
}
